* { padding: 0; margin: 0; }



body {
background-color: #D7DFE2;
font: 10px  verdana, arial, helvetica;
color: #416271;
margin:0;

}

h1{
padding:5px 0 5px 0;
margin:0px;
font-size:18px;
color:#FFFFFF;
text-shadow: 2px 3px 8px #CFCFCF;
}

h2{
padding:5px 0 5px 0;
margin:0px;
font-size:18px;
color:#f7951e;
text-shadow: 2px 3px 8px #CFCFCF;
}

h3{
padding:0 0 5px 0;
margin:0px;
font-size:12px;
color:#462B0F;
font-style:bold;
text-shadow: 2px 3px 8px #CFCFCF;
}
h4{
padding:0 0 10px 0;
margin:0px;
font-size:20px;
color:#7ea743;
}
p{
text-align:justify;
padding:2px 0 2px 0;
margin:0px;
line-height:15px;
}

p.white{
color:#FFFFFF;
}

p.green{
color:#d4f0ba;
}
p.clear{
clear:both;
padding:10px 0 0 0;
}

a{
text-decoration:none;
text-shadow: 2px 3px 8px #CFCFCF;
} 

#wrapper { 
 margin: 0 auto;
 width: 922px;
 
}



#header {
 width: 900px;
 color: #333;

 border: 1px solid #ccc;
 height: 70px;
 margin: 0px;
box-shadow:6px 4px 18px #808080;
 background-color:#d7d18f;
}



#content { 
position:relative;
 width: 900px;
 color: #333;
 border: 1px solid #ccc;
 background: #F2F2E6;
 margin: 0px 0px 0px 0px;
box-shadow:6px 4px 18px #808080;
height: 100%; 
min-height: 100%; 

}



#footer { 

box-shadow:6px 4px 18px #808080;
 width: auto;
 color: #333;
 border: 1px solid #ccc;

 background-color:#d7d18f;
 padding: 10px;
 height:30px;
}


/*----------------------Logo Box-------------------------*/
#logobox{

width:auto;
height:auto;
margin:1px;

float:left;


}


/*----------------------Login Box-------------------------*/
#loginbox{

width:auto;
height:100%;

margin:4px;
float:right;

}

#loginbox_item{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 10px;
float:left;
font-weight:bold;
font-size:12px;
text-shadow:6px 4px 48px #808080;



}


#loginbox_button{
margin:2px;
padding:30px 0px 10px 380px;

}




/*----------------------Recent Message Box-------------------------*/
#recentmsgbox{

width:430px;
height: 100%; 
margin:20px 8px 40px 20px;
padding:20px 10px 20px 30px;
background-color: #FFC;
box-shadow:6px 4px 18px #808080;
border-style:solid;
border-width:1px;

}

#middle_content{
width:400px;
    margin-left: auto;
    margin-right: auto;


}

#left_content{

width:auto;
height: 100%; 

float:left;
padding:0px;

}
#right_content{
float:right;

width:auto;
height: 100%; 
padding:30px;


}


/*---------------------- Message Box-------------------------*/
#msgbox{
position:relative;
width:400px;
height:200px;
margin:10px;

background:url(/stewarttaylor/Images/boxBackground.png) ;
border-style:solid;
border-width:1px;
box-shadow:6px 4px 18px #808080;
background-color:#ccffff;

border-radius:5px;
-moz-border-radius:5px;
}


#msgProfile
{

float:left;

}

#msgDelete
{
float:right;

}



#msgUser
{
margin:4px;
padding:1px;
font-size:18px;
font-weight:bold;
color:#cccc99;

}

#msgUser a
{
text-shadow:1px 1px 5px #808080;
}

#msgTime
{
float:bottom;
font-size:11px;
font-weight:bold;
text-shadow:1px 1px 11px #808080;

}

#msgImage{
float:right;
margin:1px;


border-style:solid;
border-width:1px;
box-shadow:6px 4px 18px #808080;

}

#msgImage img{
width:80px;
height:80px;


}

#msgText{

width:290px;
height:150px;
margin:4px;
padding:4px;
float:right;
color: #000000;
background-color:#ffffcc;

box-shadow:1px 1px 8px #808080;
background:url(/stewarttaylor/Images/boxText.png);
font-size:14px;
word-wrap:break-word;
border-style:solid;
border-width:1px;

border-radius:5px;
-moz-border-radius:5px;
}
/*---------------------- End Message Box-------------------------*/



/*----------------------Sign Up Box-------------------------*/
#signup_box{

border-radius:5px;
-moz-border-radius:5px;

width:250px;
height:auto;
margin:10px;
padding:20px;
box-shadow:6px 4px 18px #808080;
overflow:hidden;
border:2px solid;
text-shadow: 2px 3px 8px #CFCFCF;
}
#signup_item{
margin:4px;
padding:8px;
font-size:15px;
font-weight:bold;

}



.tb3 {
	border: 1px dashed #D1C7AC;
	width: 230px;
	
}

.tb2 {
	border: 1px dashed #D1C7AC;
	width: 100px;
	
}



/*------------------- avatar images ---------------*/
.avtbig {
	border: 1px dashed #D1C7AC;
	width: 200px;
	height:200px;
	box-shadow:6px 4px 18px #808080;
	float:right;
}


/*------------------- Button ---------------*/
.btn1 {
	-moz-box-shadow:inset -1px 1px 6px -1px #e3d7e3;
	-webkit-box-shadow:inset -1px 1px 6px -1px #e3d7e3;
	box-shadow:inset -1px 1px 6px -1px #e3d7e3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #defffc), color-stop(1, #e5e8e8) );
	background:-moz-linear-gradient( center top, #defffc 5%, #e5e8e8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#defffc', endColorstr='#e5e8e8');
	background-color:#defffc;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #ebebeb;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:2px 3px 5px #ffffff;
}.btn1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e8e8), color-stop(1, #defffc) );
	background:-moz-linear-gradient( center top, #e5e8e8 5%, #defffc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e8e8', endColorstr='#defffc');
	background-color:#e5e8e8;
}.btn1:active {
	position:relative;
	top:1px;
}


.btn2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.btn2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn2:active {
	position:relative;
	top:1px;
}





/*-------------------------- SEARCH -------------------*/
#searchbar
{
position:relative;
width:auto;
height:auto;
left:60px;
margin:15px;
padding:5px;
font-size:17px;
float:left;
}




/*--------------------------NEWS FEED-------------------*/
#mainnewsbox
{
margin:12px 12px 28px -50px;

}

#messageBox
{




width:300px;
height:300px;
padding:15px;
margin:4px;
}

#createMessageBox
{



width:auto;
padding:10px;
margin: 20px 0px 0px 0px;

}




#messageWriteBox
{

border-radius:15px;
-moz-border-radius:15px;

width:300px;
padding:8px;
color: #000000;
background-color:#ffffcc;
border-style:solid;
border-width:1px;
box-shadow:6px 4px 18px #808080;
}
.tb4{
	border: 1px dashed #D1C7AC;
	width: auto;
	box-shadow:1px 4px 18px #808080;
	padding:4px;
	margin:2px;
	resize:none;
}





/*----------------------Profile -------------------------*/
#profileContent
{
float:left;
width:380px;
height:auto;
border-style:solid;
border-width:1px;
margin: 60px 10px 30px -190px;
padding:8px;
font-size:16px;
font-weight:bold;
background-color: #FFC;
box-shadow:6px 4px 18px #808080;
border-radius:10px;
-moz-border-radius:10px;

}

#profileBox
{



padding:10px;


}

#profileStats
{
position:relative;

padding:10px;
margin:20px;

}

#profileFriendsBox
{
height:auto;
width:100%;
padding:10px;

}

#profileFriend
{
position:relative;
width:auto;
padding:1px;
margin:1px;
float:clear;
}





/*----------------------Profile Buttons-------------------------*/
.hbuttons a{
display: block;
text-decoration: none;
font: bold 15px Arial;
color: black;
width: auto;
height: auto;
float: right;
display: inline;
margin: 20px 0px 30px 0px;
border-style:solid;
border-width:2px;
background:#E6E68A;
/*background-image:url(Images/tabsquare.jpg);
background-repeat: no-repeat; */
padding: 25px 20px 3px 20px;
text-align:center;
box-shadow:1px 1px 18px #808080;
}

.hbuttons a:hover{
/*background-image:url(Images/tabsquareover.jpg); */
}